<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="container-fluid">
        <form>
          <!--filtro cliente-->
          <div class="row">
              <label for="cliente" class="form-label">
                  Cliente: 
              </label>
              <div class="input-group mb-3">
                <input 
                  id="cliente" 
                  type="text" 
                  class="form-control"
                  name="cliente"
                  aria-describedby="button-addon2"
                  [(ngModel)]="cliente"
                >
                <button 
                  class="btn buttonX" 
                  type="button" 
                  id="button-addon2"
                  (click)="clienteClear()"
                >
                  <b><i class="fa-duotone fa-x"></i></b>
                </button>
              </div>
          </div>
      
          <!--filtro Referencia-->
          <div class="row">
              <label for="referencia" class="form-label">
                  Referencia: 
              </label>
              <div class="input-group mb-3">
                  <input 
                      id="referencia" 
                      type="text" 
                      class="form-control"
                      name="referencia" 
                      aria-describedby="button-addon2"
                      [(ngModel)]="referencia"
                  >
                  <button 
                      class="btn buttonX" 
                      type="button" 
                      id="button-addon2"
                      (click)="referenciaClear()"
                  >
                    <b><i class="fa-duotone fa-x"></i></b>
                  </button>
              </div>
          </div>
      
          <!--filtro Usuario-->
          <div class="row">
              <label for="usuario" class="form-label">
                  Usuario: 
              </label>
              <div class="input-group mb-3">
                  <input 
                      id="usuario" 
                      type="text" 
                      class="form-control" 
                      name="usuario"
                      aria-describedby="button-addon2"
                      [(ngModel)]="usuario"
                  >
                  <button 
                      class="btn buttonX" 
                      type="button" 
                      id="button-addon2"
                      (click)="usuarioClear()"
                  >
                    <b><i class="fa-duotone fa-x"></i></b>
                  </button>
              </div>
          </div>
      
          <!--filtro fecha-->
          <div class="row">
            <label for="tipo" class="form-label">
              Fecha: 
            </label>
            <div class="input-group mb-3">
                <input 
                  id="fecha" 
                  type="text" 
                  class="form-control" 
                  name="fecha"
                  [(ngModel)]="fecha"
                  bsDaterangepicker
                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass:'theme-red'}"
                >
              <button 
                  class="btn buttonX" 
                  type="button" 
                  id="button-addon2"
                  (click)="fechaClear()"
              >
                <b><i class="fa-duotone fa-x"></i></b>
              </button>
            </div>
          </div>
      
          <!--filtro tipo-->
          <div class="row">
              <label for="tipo" class="form-label">
                  Tipo: 
              </label>
              <div class="input-group mb-3">
                  <select 
                    id="tipo" 
                    class="form-control"
                    name="tipo" 
                    aria-describedby="button-addon2"
                    [(ngModel)]="tipo"
                  >
                      <option>
                        Todos
                      </option>
                      <option
                          *ngFor="let row  of tipos"
                      >
                          {{row}}
                      </option>
                  </select>
                  <button 
                    class="btn buttonX" 
                    type="button" 
                    id="button-addon2"
                    (click)="tipoClear()"
                  >
                    <b><i class="fa-duotone fa-x"></i></b>
                  </button>
              </div>
          </div>
      
          <!--filtro estado-->
          <div class="row">
              <label class="form-label p-2">
                  Estado:
              </label>
              <div class = "border border-1">
                <form
                  *ngFor="let row of estados"
                  name="formEstado"
                  enctype="text/plain"
                  class="p-1"
                >
                  <label><input
                    class="form-check-input"
                    id="{{row}}"
                    type="radio"
                    value="{{row}}"
                    name="estado"
                    [(ngModel)]="estado"
                  /> {{row}}</label>
                </form>
              </div>
          </div>
          <!--BOTON FILTRO-->
          <div class="row buscar">
              <button 
                type="button" 
                class="btn buttonBuscar"
                (click)="filterPost()"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
                Buscar  
              </button>
          </div>
      </form>
      </div>
    </div>
    <div class="col-10">
      <div class="container-fluid">
        <div class="row">
          <!--Tabla contenido-->
          <table class="table table-borderless table-hover">
              <!--ENCABEZADO-->
              <thead>
                <tr>
                  <th scope="col">PRODUCTO</th>
                  <th scope="col"></th>
                  <th scope="col">Q</th>
                  <th scope="col">ESTADO</th>
                  <th scope="col">TIPO</th>
                  <th scope="col">FECHA</th>
                  <th scope="col">CLIENTE</th>
                </tr>
              </thead>
              <!--FILAS DE CONTENIDO RECORRIDAS POR NGFOR-->
              <tbody>
                <tr 
                  *ngFor="let row  of resultData | paginate: { itemsPerPage: 17, currentPage: page }"
                  class="border-bottom border-dark"
                >
                  <!--CAMPO PRODUCTO-->
                  <td><img src = {{row.logo}} style="width: 80px; height: 20px;" />{{row.referencia}}</td>
                  <!--CONDICIONAL CAMPO INFO-->
                  <td 
                    *ngIf="row.observacion.length==0 else elseInfo"
                  >
                    <div class="tooltipOBS info">
                      <i class="fa-2x fa-solid fa-circle-info"></i>
                    <span class="tooltipOBS-box">
                      <b>Obs. linea: </b>
                      <br>
                      <b>Obs. pedido: </b>
                      <br>
                      <b>Pedido por: </b> {{row.alias_cliente | lowercase}}
                    </span>
                    </div>
                  </td>
                  <ng-template #elseInfo>
                    <td>
                      <div class="tooltipOBS exclamation">
                        <i class="fa-2x fa-solid fa-circle-exclamation"></i>
                        <span class="tooltipOBS-box">
                          <b>Obs. linea: </b> {{row.usuario | uppercase}} - {{row.id}}
                          <br>
                          <b>Obs. pedido: </b> {{row.observacion}}
                          <br>
                          <b>Pedido por: </b> {{row.alias_cliente | lowercase}}
                        </span>
                      </div>
                    </td>
                  </ng-template>
                  <!--CAMPO CANTIDAD-->
                  <td>x<b>{{row.cantidad}}</b></td>
                  <!--CONDICIONAL CAMPO ESTADO-->
                  <td
                    *ngIf="row.estado=='Entregada' else elifEstado"
                  >
                    <mark class="bg-success bg-gradient rounded text-light">{{row.estado}}</mark>
                  </td>
                  <ng-template #elifEstado>
                    <td
                      *ngIf="row.estado=='Desconsolidada' else elseEstado"
                    >
                      <mark class="bg-primary bg-gradient rounded text-light">{{row.estado}}</mark>
                    </td>
                  </ng-template>
                  <ng-template #elseEstado>
                    <td>
                      <mark class="bg-secondary bg-gradient rounded text-light">{{row.estado}}</mark>
                    </td>
                  </ng-template>
                  <!--CAMPO TIPO-->
                  <td><mark class="bg-dark bg-gradient rounded text-light">{{row.tipo}}</mark></td>
                  <!--CAMPO FECHA CON PIPE-->
                  <td>
                    <b class="fs-6">{{row.fecha | date: 'HH:mm'}}</b>
                    {{row.fecha | date: 'dd MMM yy'}}
                  </td>
                  <!--CAMPO CLIENTE-->
                  <td>
                    {{row.codigo_cliente}} 
                    <b class="fs-5">{{row.alias_cliente}}</b>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <!--CONTADOR DE ELEMENTOS DE LA TABLA-->
        <div class="row">
          <div class="col-2">
            <h1>LÍNEAS: <b>{{resultData.length}}</b></h1>
          </div>
          <div class="col-7">
          </div>
          <!--PAGINACIÓN DE LA TABLA-->
          <div class="col-3">
            <pagination-controls 
              (pageChange)="page = $event" 
              previousLabel="" 
              nextLabel=""
            >
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>