.tooltipOBS{
    position: relative;
}

.tooltipOBS:hover
.tooltipOBS-box{
    display: inline-block;
}

.tooltipOBS-box{
    display: none;
    position: absolute;
    border-style: ridge;
    background: rgb(240, 233, 233);
    line-height: 20px;
    z-index:500;
    text-align: left;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    left: -35px;
    right: 0;
    width: 250px;
    top: 35px;
}

.tooltipOBS-box::after{
    content:"";
    display: block;
    border-style: ridge;
    border-bottom: 7px solid rgb(240, 233, 233);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: -7px;
    left: calc(50% - 7px);
}
.info{
    color: blue;
}
.exclamation{
    color: rgb(160, 160, 29);
}
